<!-- [[Highway.Onramp.Services]] -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      globalThreshold="Debug">

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/Logs/Log.txt"
            archiveEvery="Day" />
    <target xsi:type="Console"
        name="simpleconsole"
        layout="${level:uppercase=true}> ${message}"
        error="true" />
    <target xsi:type="Debugger"
        name="debugger"
        layout="${time} ${level:uppercase=true}> ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="simpleconsole" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>